/* Provide sufficient contrast against white background */
a {
	color: #0366d6;
}

code {
	color: #e01a76;
}

.when {
	font-family: 'Helvetica Neue', 'Roboto', sans-serif;
	font-weight: 200;
	display: inline;
}

.main {
	margin: 36px 0;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

h1.title {
	text-align: center;
	font-family: 'Helvetica Neue', 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 48px;
}

h3.subtitle {
	text-align: center;
	font-family: 'Helvetica Neue', 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 22px;
}

.titleHeading {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 48px;
}

.titleHeading > * {
	margin-bottom: 8px;
}

.titleHeading > input {
	margin-top: 32px;
}

input[type='text'] {
	border-radius: 8px;
	border-color: #afafaf;
	border-width: 1px;
	border-style: solid;
	font-family: 'Helvetica Neue', 'Roboto', sans-serif;
	padding: 8px 12px;
	width: 80%;
}

input[type='text'].error {
	border-color: red;
	border-width: 2px;
}

input[type='text'].error::placeholder {
	color: red;
}

footer {
	font-family: 'Helvetica Neue', 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	margin-top: 64px;
}

@media (max-width: 480px) {
	.main {
		margin: 16px;
	}

	.titleHeading {
		margin: 16px 0;
	}

	input[type='text'] {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
