.resultsAndSubmit {
	display: flex;
	align-items: flex-end;
}

.submitAndAbort {
	display: grid;
	min-width: 136px;
	grid-template-columns: 60px 60px;
	column-gap: 16px;
}

#participantHeading {
	margin: 16px 0;
	text-align: left;
	font-family: 'Helvetica Neue', 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 28px;
}

@media (max-width: 740px) {
	.resultsAndSubmit {
		align-items: initial;
		flex-direction: column;
	}
}
