.date {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50px;
	margin-bottom: 8px;
}

.month {
	font-family: 'Helvetica Neue';
	color: red;
	font-size: 26px;
	font-weight: bold;
}

.day {
	font-family: 'Helvetica Neue';
	font-size: 40px;
	font-weight: bold;
	margin-top: -10px;
}

.weekday {
	font-family: 'HelveticaNeue-Medium';
	font-size: 18px;
	margin-top: 0;
}

.nameCircle {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'HelveticaNeue-Bold';
	font-size: 26px;
	color: white;
	background-color: #129f00;
	min-width: 60px;
	height: 60px;
	border-radius: 30px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.stackedCircle {
	margin-top: -20px;
}

.namesBar {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	width: 60px;
	margin-top: 20px;
	margin-bottom: 16px;
}

.maybe {
	background-color: #ef9c00;
}

.yesCount {
	color: #129f00;
	font: 'HelveticaNeue-Medium';
	font-size: 20px;
	margin-right: 1px;
}

.maybeCount {
	color: #ef9c00;
	font: 'HelveticaNeue-Medium';
	font-size: 20px;
	margin-left: 1px;
}

.ymCounter {
	display: flex;
	justify-content: center;
}

.toggleButton {
	min-width: 60px;
	height: 60px;
	border-radius: 30px;
	border-width: 0;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	margin-bottom: 20px;
}

.toggleButton.yes {
	background-color: #129f00;
}

.toggleButton.maybe {
	background-color: #ef9c00;
}

.toggleButton.no {
	background-color: #ef0000;
}

.dateColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 80px;
	margin: 0 auto;
}

.dateGrid {
	display: flex;
	overflow: scroll;
	align-items: flex-end;
	flex-grow: 4;
	margin-right: 16px;
}

@media (max-width: 740px) {
	.dateGrid {
		overflow: none;
		align-items: initial;
		flex-direction: column;
		margin: auto 0;
	}

	.dateColumn {
		flex-direction: row;
		margin: 0;
		margin-bottom: 16px;
	}

	.namesBar {
		flex-direction: row;
		width: auto;
		order: 3;
		margin: 0;
		margin-left: 20px;
		padding: 8px 0;
	}

	.stackedCircle {
		margin-top: 0;
		margin-left: -20px;
	}

	.date {
		order: 1;
		margin-bottom: 0px;
		margin-top: 0px;
		margin-right: 16px;
	}

	.ymCounter {
		order: 2;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin-right: 16px;
		margin-top: auto;
		margin-bottom: auto;
		min-width: 32px;
	}

	.yesCount {
		margin: 0;
	}

	.maybeCount {
		margin: 0;
	}

	.toggleButton {
		margin-bottom: 0;
		margin-right: 16px;
	}
}

@media (max-width: 480px) {
	.namesBar {
		overflow: scroll;
		margin-left: 0px;
		padding-left: 20px;

		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.namesBar::-webkit-scrollbar {
		display: none;
	}
}
