.formFields {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	row-gap: 24px;
	column-gap: 16px;
	margin-top: 24px;
}

label {
	font-family: 'Helvetica Neue', 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 22px;
}

.formFields label {
	justify-self: end;
}

.chooseDays {
	margin-top: 48px;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	row-gap: 24px;
	column-gap: 16px;
}

#chooseDaysTitle {
	grid-column: 2;
}

#chosenDaysCounter {
	color: #129f00;
	grid-column: 1;
}

#chosenDaysCounter.error {
	color: red;
}

.DayPicker {
	width: 300px;
	grid-column: 2;
	justify-self: center;
}

.dialogText {
	margin: 24px 0;
}

.pollLink {
	font-family: 'Helvetica Neue', 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #129f00;
}

.pollLink:hover {
	cursor: grab;
}

@media (max-width: 680px) {
	.formFields {
		grid-template-columns: 1fr;
		align-items: stretch;
		row-gap: 16px;
	}

	.formFields input {
		width: 100%;
	}

	.formFields label {
		justify-self: start;
	}

	.chooseDays {
		grid-template-columns: 1fr;
	}

	#chooseDaysTitle,
	#chooseDaysCounter,
	.DayPicker {
		grid-column: 1;
	}

	#chooseDaysCounter {
		grid-row: end;
	}

	.pollLink {
		margin-top: 16px;
		font-size: 16px;
	}

	#submitButton {
		justify-self: center;
	}
}
